.entities__item {
  width: 210px;
  height: 330px;

  margin-bottom: 40px;

  font-size: 16px;
  text-transform: uppercase;

  background-color: #FFBA00;

  transition: .2s;
}

.entities__item:hover {
  background-color: #FFF;
}
