.header {
  padding-bottom: 40px;

  background-color: #212121;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 1200px;
  padding-top: 30px;

  margin: 0 auto;
}

.header__logo {
  width: 70px;
  height: 70px;
}

.header__list {
  display: flex;
  justify-content: space-between;

  list-style: none;

  width: 400px;
}

.header__item-button {
  width: 110px;
  height: 40px;

  background: none;
  border: none;

  color: #FFBA00;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;

  transition: .2s;
}

.header__item-button:hover {
  background: #FFBA00;

  color: black;
}