.header {
  display: flex;
  justify-content: space-between;
  padding: 30px 200px 40px 200px;

  background-color: #212121;
  border-bottom: 2px solid #FFBA00;

  position: relative;

  overflow: hidden;
}

.header__logo {
  width: 80px;
  height: 80px;
}

.header__list {
  display: flex;
  justify-content: space-between;

  list-style: none;

  width: 400px;
}

.header__item:first-child .header__item-link {
  padding: 9px 22px;
}

.header__item:last-child .header__item-link {
  padding: 9px 12px;
}

.header__item-link {
  display: block;

  box-sizing: border-box;
  
  width: 110px;
  height: 40px;
  padding: 9px 20px;

  background: none;
  border: none;

  color: #FFBA00;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;

  cursor: pointer;

  transition: .2s;
}

.header__item-link:hover {
  background: #FFBA00;

  color: black;
}